@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Consolas", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
Github theme:
red: 
orange: 
green: 
lightblue 
blue: 
#ce
*/
:root {
  --gitred: #fa7970;
  --gitorange: #faa356;
  --gitgreen: #7ce38b;
  --gitlightblue: #a2d2fb;
  --gitblue: #77bdfb;
  --gitpurple: #cea5fb;
  --gitwhite: #ecf2f8;
  --gitgray: #c6cdd5;
  --gitdarkgray: #89929b;
  --gitblack: #21262d;
}

.disable-text-selection{
  -moz-user-select:none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}